dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.stack-work-profile/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
stack.yaml.lock
stack.yaml~

test.db
esa-mib/ASCII_RTE/.~lock.pcf.dat#
stdout
DefaultConfig.json
DefaultConfig.json
DefaultConfig.json
stack_opt.yaml.orig
stack_llvm.yaml.orig
a.out
stack_llvm.yaml.lock
result
aurisi/src/MainWindow.glade~
aurisi/src/AurisLogo.xpm
auris.log
aurisi/src/#MainWindow.glade#
AURIS.tar.bz2
wiki-pages/.#esa-base.org
AURISi
aurisi/data/MainWindow.glade~
AURIS_Unoptimzed.tar.bz2
test-data/tm_10000_pkts.raw
cnc_tc_10000.raw
esa-base/src/Conduit/irgendwas.txt
stack_sle.yaml.lock
AURISi_opt.tar.bz2
AURISi_optimized_profile.prog
lib-aurisi/data/ChartWidget.glade~
chart_test.svg
lib-aurisi/data/MainWindow.glade~
test-data/GAIA_DetailedScheduleReport.tc
test-data/GAIA_LoadTT_Test.tc
test-data/GAIA_LoadTT_Test.tc
test-data/GAIA_SummaryScheduleReport.tc
stack_opt.yaml.lock
suca_config.json~
