.ghc.environment.x86_64-linux-8.6.5
cabal.project.local
cabal.project.local~
dist-newstyle/
dist/
*~

DefaultConfig.config
DefaultConfig.json
.vscode/ipch/24699179e0f2fe2a/mmap_address.bin
.vscode/ipch/24699179e0f2fe2a/CLTUcsrc.ipch
.vscode/ipch/24698879e0f2eedf/mmap_address.bin
CLTUPerf.hp
CLTUPerf.prof
codProcChar.html
.vscode/ipch/a1fb3b55593f9a15/CLTUcsrc.ipch
.vscode/ipch/a1fb3b55593f9a15/mmap_address.bin
.vscode/ipch/a1fb4055593fa294/mmap_address.bin
perf.html
.ghc.environment.x86_64-linux-8.6.4
.bash_history
.cabal
.stack-work

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
stack.yaml.lock
CmdEncodePerf.ps
bd_commands.raw
